* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(104, 102, 102, 0.705),rgba(104, 102, 102, 0.705)), url(dice.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #555;
}

.player {
    background-color: rgba(255, 255, 255, 0.719);
}

#player-0 {
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 37.5%;
    
    height: 75%;
}

#player-1 {
    position: absolute;
    top: 12.5%;
    left: 50%;
    width: 37.5%;
    
    height: 75%;
}

.head {
    text-align: center;
    margin-top: 60px;
    font-size: 120%;
    padding-bottom: 15px;
}

.head::after{
    height: 1px;
    display: block;
    margin: 0 auto;
    width: 100px;
    content: "";
    background-color: crimson;
    margin-top: 5px;
}

.score {
    width: 65px;
    margin: 0 auto;
    display: block;
    font-size: 250%;
    height: auto;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    color: #555;
}

.current {
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgba(250, 7, 55, 0.87);
    text-align: center;
    width: 130px;
    padding: 5px;
}

.current-text {
    color: #fff;
    margin-bottom: 10px;
    font-size: 110%;
}

.current-score {
    color: black;
    margin-bottom: 10px;
}

.dice {
    display: none;
    width: 50px;
    height: auto;
    position: absolute;
    top: 37.5%;
    left: 47.5%;
}

.btn {
    color: rgb(248, 7, 55);
    width: 150px;
    font-size: 110%;
    height: auto;
    position: absolute;
    border: none;
    background: none;
    font-weight: 500;
    padding: 0;
    left: 43.5%;
}

.btn-ng {
    top: 17.5%;
}

.btn-hold {
    bottom: 20.5%;
}

.btn-rd {
    bottom: 28.5%;
}

.adthunadu {
    background-color: rgba(133, 131, 131, 0.719);
}